extends layout

block content
  h1= title
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js")

  canvas(id="forestResChart" height="100")

  svg(width="800" height="600" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg")

    h1 Map of MO 
    g(id="counties")
      path(id="adair" d="M10,10 L50,10 L50,50 L10,50 Z" class="county" data-name="Adair County" data-info="BAlls")

  script.
    var ctx = document.getElementById("forestResChart")

    var forestResChart = new Chart(ctx, {

    })
