doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Biomass Data Charts
  body
    h1 Biomass Data Charts
    div
      -
        let priceBy = `dispatch(\"/priceByRegion\")`
        let quantAndAvg = `dispatch(\"QandAPofDB\")`
        let forestRes = `dispatch(\"forestResidues\")`
      div
        button.btn(class="btn-primary" onClick=priceBy) Go to Price by Region
        br
        button.btn(onClick=quantAndAvg) Go to Quantity and Price Over Time
        br
        button.btn(onClick=forestRes) Go to Forest Residue

    script.
      function dispatch(path){
        window.location.href=path
      }